@charset "UTF-8";

@font-face {
    font-family: "Fira Code";
    src: url("../fonts/FiraCode-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-Regular.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka custom";
    src: url("../fonts/iosevka-custom-regular.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Cascadia Code PL";
    src: url("../fonts/CascadiaCodePL-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Source Han Sans SC HW";
    src: url("../fonts/SourceHanSansCN-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Sans SC";
    src: url("../fonts/NotoSansSC-Regular.woff2") format("woff2");
}
